[loggers]
keys=root,test

[handlers]
keys=mongo

[formatters]
keys=brief

[logger_root]
level=NOTSET
handlers=mongo
qualname=example
propagate=1

[logger_test]
level=DEBUG
handlers=mongo
qualname=example
propagate=1

[handler_mongo]
class=mongolog.handlers.MongoHandler
args=('log_test','_mongolog_test',)

[formatter_brief]
format=%(asctime)s %(message)s
